In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path

In [2]:
# Load data
a_path = Path("Resources/world_population_data.csv")
b_path = Path("Resources/Production_Crops_Livestock_E_All_Data.csv")
world_population = pd.read_csv(a_path)
agri_data = pd.read_csv(b_path, encoding='ISO-8859-1', low_memory = False)

In [3]:
# View Agricultural data
agri_data.info()
agri_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79606 entries, 0 to 79605
Columns: 195 entries, Area Code to Y2022N
dtypes: float64(62), int64(3), object(130)
memory usage: 118.4+ MB

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Unit,Y1961,...,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N,Y2022,Y2022F,Y2022N
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,ha,0.0,...,NaN,22134.0,A,NaN,36862.0,A,NaN,37000.0,A,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5419,Yield,100 g/ha,NaN,...,NaN,17759.0,A,NaN,17432.0,A,NaN,17297.0,A,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5510,Production,t,0.0,...,NaN,39307.0,A,NaN,64256.0,A,NaN,64000.0,A,NaN
3,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5312,Area harvested,ha,0.0,...,NaN,25558.0,E,NaN,25357.0,E,NaN,25403.0,E,NaN
4,2,'004,Afghanistan,711,'01654,"Anise, badian, coriander, cumin, caraway, fenn...",5419,Yield,100 g/ha,NaN,...,NaN,7030.0,E,NaN,7050.0,E,NaN,7040.0,E,NaN

In [4]:
# View uniqe values in items
agri_data["Item"].unique()

array(['Almonds, in shell',
       'Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw',
       'Apples', 'Apricots', 'Asses', 'Barley',
       'Butter and ghee of sheep milk', 'Butter of cow milk',
       'Buttermilk, dry', 'Camels', 'Cantaloupes and other melons',
       'Cattle', 'Cattle fat, unrendered',
       'Cheese from milk of goats, fresh or processed',
       'Cheese from milk of sheep, fresh or processed', 'Chickens',
       'Cotton lint, ginned', 'Cotton seed', 'Cottonseed oil',
       'Edible offal of cattle, fresh, chilled or frozen',
       'Edible offal of goat, fresh, chilled or frozen',
       'Edible offal of sheep, fresh, chilled or frozen',
       'Edible offals of camels and other camelids, fresh, chilled or frozen',
       'Fat of camels', 'Figs', 'Game meat, fresh, chilled or frozen',
       'Goat fat, unrendered', 'Goats', 'Grapes',
       'Hen eggs in shell, fresh', 'Horses', 'Linseed', 'Maize (corn)',
       'Meat of camels, fresh or chilled',
       'Meat of cattle with the bone, fresh or chilled',
       'Meat of chickens, fresh or chilled',
       'Meat of goat, fresh or chilled',
       'Meat of sheep, fresh or chilled', 'Millet', 'Molasses',
       'Mules and hinnies', 'Mustard seed', 'Natural honey',
       'Oil of linseed', 'Oil of sesame seed', 'Olive oil', 'Olives',
       'Onions and shallots, dry (excluding dehydrated)', 'Oranges',
       'Other berries and fruits of the genus vaccinium n.e.c.',
       'Other citrus fruit, n.e.c.', 'Other fruits, n.e.c.',
       'Other nuts (excluding wild edible nuts and groundnuts), in shell, n.e.c.',
       'Other pulses n.e.c.',
       'Other stimulant, spice and aromatic crops, n.e.c.',
       'Other stone fruits', 'Other vegetables, fresh n.e.c.',
       'Peaches and nectarines', 'Pears', 'Pistachios, in shell',
       'Plums and sloes', 'Potatoes',
       'Raw cane or beet sugar (centrifugal only)',
       'Raw hides and skins of cattle',
       'Raw hides and skins of goats or kids',
       'Raw hides and skins of sheep or lambs', 'Raw milk of camel',
       'Raw milk of cattle', 'Raw milk of goats', 'Raw milk of sheep',
       'Raw silk (not thrown)', 'Rice', 'Seed cotton, unginned',
       'Sesame seed', 'Sheep', 'Sheep fat, unrendered',
       'Shorn wool, greasy, including fleece-washed shorn wool',
       'Silk-worm cocoons suitable for reeling', 'Skim milk of cows',
       'Sugar beet', 'Sugar cane', 'Sunflower seed',
       'Sunflower-seed oil, crude', 'Walnuts, in shell', 'Watermelons',
       'Wheat', 'Beef and Buffalo Meat, primary', 'Butter and Ghee',
       'Cattle and Buffaloes', 'Cereals, primary', 'Cheese (All Kinds)',
       'Citrus Fruit, Total', 'Eggs Primary',
       'Fibre Crops, Fibre Equivalent', 'Fruit Primary', 'Meat, Poultry',
       'Meat, Total', 'Milk, Total', 'Oilcrops, Cake Equivalent',
       'Oilcrops, Oil Equivalent', 'Poultry Birds', 'Pulses, Total',
       'Roots and Tubers, Total', 'Sheep and Goat Meat',
       'Sheep and Goats', 'Skim Milk & Buttermilk, Dry',
       'Sugar Crops Primary', 'Treenuts, Total', 'Vegetables Primary',
       'Beans, dry', 'Beer of barley, malted', 'Bees', 'Beeswax',
       'Broad beans and horse beans, dry',
       'Broad beans and horse beans, green', 'Buffalo',
       'Buffalo fat, unrendered', 'Cabbages', 'Carrots and turnips',
       'Cauliflowers and broccoli', 'Cheese from whole cow milk',
       'Cherries', 'Chestnuts, in shell',
       'Chillies and peppers, green (Capsicum spp. and Pimenta spp.)',
       'Cucumbers and gherkins', 'Dates', 'Ducks',
       'Edible offal of buffalo, fresh, chilled or frozen',
       'Edible offal of pigs, fresh, chilled or frozen',
       'Edible offals of horses and other equines,  fresh, chilled or frozen',
       'Eggplants (aubergines)',
       'Eggs from other birds in shell, fresh, n.e.c.', 'Fat of pigs',
       'Geese', 'Green garlic',
       'Green tea (not fermented), black tea (fermented) and partly fermented tea, in immediate packings of a content not exceeding 3 kg',
       'Groundnut oil', 'Hop cones', 'Horse meat, fresh or chilled',
       'Leeks and other alliaceous vegetables', 'Lemons and limes',
       'Lettuce and chicory', 'Margarine and shortening',
       'Meat of buffalo, fresh or chilled',
       'Meat of pig with the bone, fresh or chilled',
       'Meat of turkeys, fresh or chilled', 'Mushrooms and truffles',
       'Oats', 'Okra', 'Onions and shallots, green', 'Other beans, green',
       'Other meat n.e.c. (excluding mammals), fresh, chilled or frozen',
       'Palm oil', 'Peas, green', 'Pumpkins, squash and gourds',
       'Quinces', 'Raw hides and skins of buffaloes',
       'Raw milk of buffalo', 'Rye', 'Sorghum', 'Sour cherries',
       'Soya bean oil', 'Soya beans', 'Spinach', 'Strawberries',
       'Swine / pigs', 'Tangerines, mandarins, clementines', 'Tomatoes',
       'Turkeys', 'Unmanufactured tobacco', 'Vetches', 'Wine',
       'Artichokes', 'Bananas', 'Cheese from skimmed cow milk',
       'Chick peas, dry',
       'Chillies and peppers, dry (Capsicum spp., Pimenta spp.), raw',
       'Groundnuts, excluding shelled', 'Lentils, dry',
       'Locust beans (carobs)',
       'Meat of rabbits and hares, fresh or chilled',
       'Other tropical fruits, n.e.c.', 'Peas, dry',
       'Pomelos and grapefruits', 'Rabbits and hares',
       'Rape or colza seed', 'Rapeseed or canola oil, crude',
       'Safflower-seed oil, crude', 'Triticale', 'Avocados',
       'Cashew nuts, in shell', 'Cassava, fresh', 'Castor oil seeds',
       'Cocoa beans', 'Coffee, green',
       'Kenaf, and other textile bast fibres, raw or retted',
       'Mangoes, guavas and mangosteens', 'Oil of palm kernel',
       'Oil palm fruit', 'Palm kernels', 'Pig fat, rendered',
       'Pineapples', 'Sisal, raw', 'Sweet potatoes',
       'Skim milk and whey powder', 'Skim milk, condensed',
       'Skim milk, evaporated', 'Tallow', 'Taro', 'Yams',
       'Evaporated & Condensed Milk', 'Asparagus', 'Canary seed',
       'Cereals n.e.c.', 'Cream, fresh', 'Flax, raw or retted',
       'Ghee from cow milk', 'Lupins', 'MatÃ© leaves',
       'Meat of asses, fresh or chilled',
       'Meat of ducks, fresh or chilled',
       'Meat of geese, fresh or chilled',
       'Meat of mules, fresh or chilled', 'Oil of maize',
       'Other fibre crops, raw, n.e.c.', 'Other oil seeds, n.e.c.',
       'Papayas', 'Peppermint, spearmint', 'Safflower seed',
       'String beans', 'Tea leaves', 'Tung nuts', 'Whey, dry',
       'Whole milk powder', 'Whole milk, condensed',
       'Whole milk, evaporated', 'Hazelnuts, in shell', 'Blueberries',
       'Coconut oil', 'Cow peas, dry', 'Currants', 'Green corn (maize)',
       'Hempseed', 'Kiwi fruit', 'Persimmons', 'Raspberries',
       'True hemp, raw or retted', 'Buckwheat', 'Gooseberries',
       'Mixed grain', 'Poppy seed', 'Whey, condensed', 'Yoghurt',
       'Cranberries', 'Coconuts, in shell', 'Pigeon peas, dry',
       'Plantains and cooking bananas', 'Areca nuts',
       'Butter of buffalo milk', 'Coir, raw', 'Ghee from buffalo milk',
       'Ginger, raw', 'Jute, raw or retted',
       'Natural rubber in primary forms', 'Other sugar crops n.e.c.',
       'Other pome fruits', 'Chicory roots', 'Vanilla, raw',
       'Edible roots and tubers with high starch or inulin content, n.e.c., fresh',
       'Yautia', 'Fonio', 'Karite nuts (sheanuts)', 'Kola nuts',
       'Melonseed', 'Pepper (Piper spp.), raw',
       'Nutmeg, mace, cardamoms, raw', 'Quinoa', 'Brazil nuts, in shell',
       'Meat of other domestic camelids, fresh or chilled',
       'Meat of other domestic rodents, fresh or chilled',
       'Other camelids', 'Other rodents', 'Pyrethrum, dried flowers',
       'Balata, gutta-percha, guayule, chicle and similar natural gums in primary forms or in plates, sheets or strip',
       'Cashewapple', 'Ramie, raw or retted', 'Cassava leaves',
       'Meat of pigeons and other birds n.e.c., fresh, chilled or frozen',
       'Bambara beans, dry',
       'Cheese from milk of buffalo, fresh or processed',
       'Cinnamon and cinnamon-tree flowers, raw',
       'Cloves (whole stems), raw', 'Tallowtree seeds',
       'Agave fibres, raw, n.e.c.', 'Abaca, manila hemp, raw',
       'Snails, fresh, chilled, frozen, dried, salted or in brine, except sea snails',
       'Kapok fibre, raw', 'Kapok fruit', 'Kapokseed in shell',
       'Jojoba seeds', 'Butter of goat milk'], dtype=object)

In [5]:
print(agri_data.columns)

Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item Code (CPC)',
       'Item', 'Element Code', 'Element', 'Unit', 'Y1961',
       ...
       'Y2019N', 'Y2020', 'Y2020F', 'Y2020N', 'Y2021', 'Y2021F', 'Y2021N',
       'Y2022', 'Y2022F', 'Y2022N'],
      dtype='object', length=195)

In [6]:
#Drop columns that are not needed
columns_to_drop =["Area Code", "Area Code (M49)", "Item Code", "Item Code (CPC)", "Element Code", "Element"]
agri_data.drop(columns=columns_to_drop, inplace=True)
agri_data.head()

,Area,Item,Unit,Y1961,Y1961F,Y1961N,Y1962,Y1962F,Y1962N,Y1963,...,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N,Y2022,Y2022F,Y2022N
0,Afghanistan,"Almonds, in shell",ha,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,22134.0,A,NaN,36862.0,A,NaN,37000.0,A,NaN
1,Afghanistan,"Almonds, in shell",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17759.0,A,NaN,17432.0,A,NaN,17297.0,A,NaN
2,Afghanistan,"Almonds, in shell",t,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,39307.0,A,NaN,64256.0,A,NaN,64000.0,A,NaN
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",ha,0.0,M,NaN,0.0,M,NaN,0.0,...,NaN,25558.0,E,NaN,25357.0,E,NaN,25403.0,E,NaN
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7030.0,E,NaN,7050.0,E,NaN,7040.0,E,NaN

In [7]:
# Rename Area to Country
agri_data = agri_data.rename(columns={"Area": "Country"})
agri_data.head()

,Country,Item,Unit,Y1961,Y1961F,Y1961N,Y1962,Y1962F,Y1962N,Y1963,...,Y2019N,Y2020,Y2020F,Y2020N,Y2021,Y2021F,Y2021N,Y2022,Y2022F,Y2022N
0,Afghanistan,"Almonds, in shell",ha,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,22134.0,A,NaN,36862.0,A,NaN,37000.0,A,NaN
1,Afghanistan,"Almonds, in shell",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17759.0,A,NaN,17432.0,A,NaN,17297.0,A,NaN
2,Afghanistan,"Almonds, in shell",t,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,39307.0,A,NaN,64256.0,A,NaN,64000.0,A,NaN
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",ha,0.0,M,NaN,0.0,M,NaN,0.0,...,NaN,25558.0,E,NaN,25357.0,E,NaN,25403.0,E,NaN
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7030.0,E,NaN,7050.0,E,NaN,7040.0,E,NaN

In [8]:
#Remove Y from year
agri_data.columns = agri_data.columns.str.replace("Y", "")
agri_data.head()

,Country,Item,Unit,1961,1961F,1961N,1962,1962F,1962N,1963,...,2019N,2020,2020F,2020N,2021,2021F,2021N,2022,2022F,2022N
0,Afghanistan,"Almonds, in shell",ha,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,22134.0,A,NaN,36862.0,A,NaN,37000.0,A,NaN
1,Afghanistan,"Almonds, in shell",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17759.0,A,NaN,17432.0,A,NaN,17297.0,A,NaN
2,Afghanistan,"Almonds, in shell",t,0.0,A,NaN,0.0,A,NaN,0.0,...,NaN,39307.0,A,NaN,64256.0,A,NaN,64000.0,A,NaN
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",ha,0.0,M,NaN,0.0,M,NaN,0.0,...,NaN,25558.0,E,NaN,25357.0,E,NaN,25403.0,E,NaN
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7030.0,E,NaN,7050.0,E,NaN,7040.0,E,NaN

In [9]:
# remove columns that do not hold numerical example Y1962F and Y1962N 
columns_to_drop2 = [col for col in agri_data.columns if col.endswith('F') or col.endswith('N')]
df_cleaned = agri_data.drop(columns=columns_to_drop2)
df_cleaned.head()

,Country,Item,Unit,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,"Almonds, in shell",ha,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0,22134.0,36862.0,37000.0
1,Afghanistan,"Almonds, in shell",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0,17759.0,17432.0,17297.0
2,Afghanistan,"Almonds, in shell",t,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0,39307.0,64256.0,64000.0
3,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",ha,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18500.0,30000.0,25000.0,24500.0,26160.0,25220.0,25293.0,25558.0,25357.0,25403.0
4,Afghanistan,"Anise, badian, coriander, cumin, caraway, fenn...",100 g/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6757.0,7167.0,7200.0,7075.0,6970.0,7080.0,7041.0,7030.0,7050.0,7040.0

In [20]:
df_cleaned_transposed = df_cleaned.transpose()
df_cleaned_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,79596,79597,79598,79599,79600,79601,79602,79603,79604,79605
Country,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan,...,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries,Net Food Importing Developing Countries
Item,"Almonds, in shell","Almonds, in shell","Almonds, in shell","Anise, badian, coriander, cumin, caraway, fenn...","Anise, badian, coriander, cumin, caraway, fenn...","Anise, badian, coriander, cumin, caraway, fenn...",Apples,Apples,Apples,Apricots,...,"Skim Milk & Buttermilk, Dry",Sugar Crops Primary,Sugar Crops Primary,Sugar Crops Primary,"Treenuts, Total","Treenuts, Total","Treenuts, Total",Vegetables Primary,Vegetables Primary,Vegetables Primary
Unit,ha,100 g/ha,t,ha,100 g/ha,t,ha,100 g/ha,t,ha,...,t,ha,100 g/ha,t,ha,100 g/ha,t,ha,100 g/ha,t
1961,0.0,NaN,0.0,0.0,NaN,0.0,2220.0,68018.0,15100.0,4820.0,...,1347.0,2601777.0,468381.0,121862388.0,416160.0,6145.0,255724.0,1881425.0,66171.0,12449526.0
1962,0.0,NaN,0.0,0.0,NaN,0.0,2220.0,68018.0,15100.0,4820.0,...,1347.0,2573694.0,414766.0,106748046.0,465630.0,6342.0,295318.0,1928836.0,67487.0,13017209.0